h1 {
    font-family: "Dosis", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: normal
    
}

h1 {
    color: #3F3D56;
}

h1 {
    margin: 32px;
}

span {
    font-weight: bold;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #828282;
}

strong {
    color: #3F3D56;
}

#hero {
    width: 626px;
    margin: 0 auto 72px;
}

#hero img{
    margin-bottom: 72px;
}

a {
    color: #3F3D56;
}

#footer a + a{
    margin-left: 42px;
}

#line {
    width: 568px;
    height: 0px;
    
    margin: 0 auto 8px;

    border: 1px solid #eceff2;
}

#Wave {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

p {
    margin: 540 107;
}